<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>accessgoogle.servlet.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventController</servlet-name>
        <servlet-class>controllers.admin.CreateEventController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventController</servlet-name>
        <url-pattern>/CreateEventController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>guest/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
