<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>accessgoogle.servlet.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventController</servlet-name>
        <servlet-class>controllers.admin.CreateEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstController</servlet-name>
        <servlet-class>controllers.guest.FirstController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEventCategoryController</servlet-name>
        <servlet-class>controllers.admin.LoadEventCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEventPageController</servlet-name>
        <servlet-class>controllers.admin.LoadEventPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventController</servlet-name>
        <servlet-class>controllers.admin.DeleteEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controllers.admin.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventController</servlet-name>
        <servlet-class>controllers.admin.UpdateEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEventUserPageController</servlet-name>
        <servlet-class>controllers.user.LoadEventUserPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllEventOnlController</servlet-name>
        <servlet-class>controllers.user.LoadAllEventOnlController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllEventOffController</servlet-name>
        <servlet-class>controllers.user.LoadAllEventOffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEventByIDController</servlet-name>
        <servlet-class>controllers.admin.LoadEventByIDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminPageController</servlet-name>
        <servlet-class>controllers.admin.LoadAdminPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEventDetailController</servlet-name>
        <servlet-class>controllers.user.LoadEventDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNewsUserPageController</servlet-name>
        <servlet-class>controllers.user.LoadNewsUserPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllNewsTagController</servlet-name>
        <servlet-class>controllers.user.LoadAllNewsTagController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNewsDetailController</servlet-name>
        <servlet-class>controllers.user.LoadNewsDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRecruitmentUserPageController</servlet-name>
        <servlet-class>controllers.user.LoadRecruitmentUserPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllRecruitmentController</servlet-name>
        <servlet-class>controllers.user.LoadAllRecruitmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRecruitmentDetailController</servlet-name>
        <servlet-class>controllers.user.LoadRecruitmentDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyEventController</servlet-name>
        <servlet-class>controllers.user.ApplyEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllEventToCancelController</servlet-name>
        <servlet-class>controllers.user.LoadAllEventToCancelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelEventController</servlet-name>
        <servlet-class>controllers.user.CancelEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInfoTuVanController</servlet-name>
        <servlet-class>controllers.user.AddInfoTuVanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserPageController</servlet-name>
        <servlet-class>controllers.admin.LoadUserPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>controllers.admin.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>controllers.admin.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTuVanPageController</servlet-name>
        <servlet-class>controllers.admin.LoadTuVanPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTuVanController</servlet-name>
        <servlet-class>controllers.admin.DeleteTuVanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTuVanController</servlet-name>
        <servlet-class>controllers.admin.UpdateTuVanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNewsPageController</servlet-name>
        <servlet-class>controllers.admin.LoadNewsPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRecruitmentPageController</servlet-name>
        <servlet-class>controllers.admin.LoadRecruitmentPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNewsController</servlet-name>
        <servlet-class>controllers.admin.DeleteNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecruitmentController</servlet-name>
        <servlet-class>controllers.admin.DeleteRecruitmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCreateNewsCateController</servlet-name>
        <servlet-class>controllers.admin.LoadCreateNewsCateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewsController</servlet-name>
        <servlet-class>controllers.admin.CreateNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCreateRecruitmentController</servlet-name>
        <servlet-class>controllers.admin.LoadCreateRecruitmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRecruitmentController</servlet-name>
        <servlet-class>controllers.admin.CreateRecruitmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCompanyController</servlet-name>
        <servlet-class>controllers.admin.LoadCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCompanyController</servlet-name>
        <servlet-class>controllers.admin.DeleteCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCompanyDetailController</servlet-name>
        <servlet-class>controllers.admin.LoadCompanyDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompanyController</servlet-name>
        <servlet-class>controllers.admin.UpdateCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCompanyController</servlet-name>
        <servlet-class>controllers.admin.CreateCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSubjectController</servlet-name>
        <servlet-class>controllers.admin.LoadSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSubjectController</servlet-name>
        <servlet-class>controllers.admin.CreateSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubjectController</servlet-name>
        <servlet-class>controllers.admin.DeleteSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSubjectDetailController</servlet-name>
        <servlet-class>controllers.admin.LoadSubjectDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubjectController</servlet-name>
        <servlet-class>controllers.admin.UpdateSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMajorController</servlet-name>
        <servlet-class>controllers.admin.LoadMajorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMajorDetailController</servlet-name>
        <servlet-class>controllers.admin.LoadMajorDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMajorController</servlet-name>
        <servlet-class>controllers.admin.UpdateMajorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventController</servlet-name>
        <url-pattern>/CreateEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstController</servlet-name>
        <url-pattern>/FirstController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEventCategoryController</servlet-name>
        <url-pattern>/LoadEventCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEventPageController</servlet-name>
        <url-pattern>/LoadEventPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventController</servlet-name>
        <url-pattern>/DeleteEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventController</servlet-name>
        <url-pattern>/UpdateEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEventUserPageController</servlet-name>
        <url-pattern>/LoadEventUserPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllEventOnlController</servlet-name>
        <url-pattern>/LoadAllEventOnlController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllEventOffController</servlet-name>
        <url-pattern>/LoadAllEventOffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEventByIDController</servlet-name>
        <url-pattern>/LoadEventByIDController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminPageController</servlet-name>
        <url-pattern>/LoadAdminPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEventDetailController</servlet-name>
        <url-pattern>/LoadEventDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNewsUserPageController</servlet-name>
        <url-pattern>/LoadNewsUserPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllNewsTagController</servlet-name>
        <url-pattern>/LoadAllNewsTagController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNewsDetailController</servlet-name>
        <url-pattern>/LoadNewsDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRecruitmentUserPageController</servlet-name>
        <url-pattern>/LoadRecruitmentUserPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllRecruitmentController</servlet-name>
        <url-pattern>/LoadAllRecruitmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRecruitmentDetailController</servlet-name>
        <url-pattern>/LoadRecruitmentDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyEventController</servlet-name>
        <url-pattern>/ApplyEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllEventToCancelController</servlet-name>
        <url-pattern>/LoadAllEventToCancelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelEventController</servlet-name>
        <url-pattern>/CancelEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInfoTuVanController</servlet-name>
        <url-pattern>/AddInfoTuVanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserPageController</servlet-name>
        <url-pattern>/LoadUserPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTuVanPageController</servlet-name>
        <url-pattern>/LoadTuVanPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTuVanController</servlet-name>
        <url-pattern>/DeleteTuVanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTuVanController</servlet-name>
        <url-pattern>/UpdateTuVanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNewsPageController</servlet-name>
        <url-pattern>/LoadNewsPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRecruitmentPageController</servlet-name>
        <url-pattern>/LoadRecruitmentPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNewsController</servlet-name>
        <url-pattern>/DeleteNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecruitmentController</servlet-name>
        <url-pattern>/DeleteRecruitmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCreateNewsCateController</servlet-name>
        <url-pattern>/LoadCreateNewsCateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewsController</servlet-name>
        <url-pattern>/CreateNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCreateRecruitmentController</servlet-name>
        <url-pattern>/LoadCreateRecruitmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRecruitmentController</servlet-name>
        <url-pattern>/CreateRecruitmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCompanyController</servlet-name>
        <url-pattern>/LoadCompanyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCompanyController</servlet-name>
        <url-pattern>/DeleteCompanyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCompanyDetailController</servlet-name>
        <url-pattern>/LoadCompanyDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompanyController</servlet-name>
        <url-pattern>/UpdateCompanyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCompanyController</servlet-name>
        <url-pattern>/CreateCompanyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSubjectController</servlet-name>
        <url-pattern>/LoadSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSubjectController</servlet-name>
        <url-pattern>/CreateSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubjectController</servlet-name>
        <url-pattern>/DeleteSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSubjectDetailController</servlet-name>
        <url-pattern>/LoadSubjectDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubjectController</servlet-name>
        <url-pattern>/UpdateSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMajorController</servlet-name>
        <url-pattern>/LoadMajorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMajorDetailController</servlet-name>
        <url-pattern>/LoadMajorDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMajorController</servlet-name>
        <url-pattern>/UpdateMajorController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>./user/home.jsp</welcome-file>
        <!--<welcome-file>./admin/createEvent.jsp</welcome-file>-->
        <!--<welcome-file>login.jsp</welcome-file>-->
    </welcome-file-list>
    <!--    <resource-ref>
        <description>Resource reference to javax.sql.Connection</description>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>-->
</web-app>
