.wrap_content{
    display: flex;
padding-bottom: 20px;
}
.relative_news{
flex: 1;
-webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    padding-top: 20px;
}
.main_contain-text{
color: #333333;
  width: 100%;
  text-align: justify;
  font-size: 1.6rem;
  padding-top: 10px;
}
.figure{
    display: flex;
    align-items: center;
}
.box_img{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    height: 80px;
    overflow: hidden;
}
.box_img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.caption h5{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 13px;
    text-overflow: ellipsis;
    padding-left: 20px;
}
.caption h5 a{
    text-decoration: none;
    color: #333333
}
.figure{
    padding: 5px 0;
}
.thumb_item::after{
    content: "";
    border-top: 1px solid #a1a0a0;
    position: absolute;
    width: 258px;
}
.relative_news::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: #979797;
    right: 339px;
    top: 30%;
    /* transform: translateY(-50%); */
}
.sub-time{
    margin-left: 52px;
}
.text-writer{
    margin-top: 10px;
    float: right;
    font-weight: bold;
}
.text-info{
    margin-top: 10px;
    margin-left: 52px;
    font-weight: 600;
    line-height: 2.5rem;
    font-size: 1.5rem;
}
.tags_news{
    margin-top: 10px;
}
.btn-tag{
  padding: 4px 6px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid;
  border-radius: 20%;
}
.btn-tag:hover{
    background-color: #0004d8;
    color: white;
}
.caption:hover h5>a{
    color: #0004d8;
}
